%h1 Totals
%p
	%label Users
	%span= @users.count
%p
	%label Classifications
	%span= @annotations.count
%p
	%label Photo Matches
	%span= @matches.count
	
- for tag in @tags.regime
	%p
		%label= tag.name
		%span= tag.annotations.count
