%section.map
	#map
	#legend
		%p
			Zoom-in and Click a 
			%span RED DOT
			to Annotate a Post-Storm Photo
		%p
			Click 
			%strong HERE 
			or Press 
			%strong ESC 
			to cancel
		%p.yellow.star Current Post-Storm Photo
		%p.red.dot Post-Storm Photo
		%p.green.dot Annotated Photo

%section.fixed
	.post
		%h1 POST
		%img#post{src: nil}
	.pre
		%h1 PRE
		%img#pre{src: nil}
		%ul.thumbs#pre-thumbs
			%li.thumb
				%img#pre-thumb0{src: nil}
			%li.thumb.active
				%img#pre-thumb1{src: nil}
			%li.thumb
				%img#pre-thumb2{src: nil}

%nav
	%h2 Loading
	%img.map{alt: 'map thumbnail'}
	
%section.task#task-select
	%h3 Select Photo
	%p
		%label Step 1:
		Select a Post-Storm Photo to Annotate: Click the 
		%strong RANDOM PHOTO
		button or find a photo through the
		%strong MAP.
	%button#shuffle-post RANDOM PHOTO
	%button#show-map MAP
	%button.next{href: '#task-photo'}
%section.task#task-photo
	%h3 Photo Match
	%p
		%label Step 2:
		Find the best Pre-Storm photo that matches the Post-Storm photo.
	%p (Click the thumbnails below the Pre-Storm photo to find a better match.)
	%ul.match
		%li
			%input{type: 'radio', id: 'match_yes', name: 'match', value: true} 
			%label{for: 'match_yes'} Yes
			%input{type: 'radio', id: 'match_no', name: 'match', value: false, checked: 'checked'} 
			%label{for: 'match_no'} No
	%button.next{href: '#task-regime'}
	%button.prev{href: '#task-select'} 
%section.task#task-regime
	%h3 Coastal Change Regimes
	%p
		%label Step 3:
		Select the 
		= link_to 'Coastal Change Regime(s)', 'http://coastal.er.usgs.gov/hurricanes/impact-scale/', target: '_blank'
		that likely occurred in the Post-Storm photo.
	%ul.regimes
		- for tag in @regimes
			%li
				%input{type: 'checkbox', id: dom_id(tag), tag_id: tag.id}
				%label{for: dom_id(tag)}= tag.name
	%button.next{href: '#task-visual'}
	%button.prev{href: '#task-photo'}
%section.task#task-visual
	%h3 Visual Coastal Changes
	%p
		%label Step 4:
		Indicate what changes to the coast you can see in the Post-Storm photo.
	- for group in @groups
		- unless group.name.blank?
			%h4= group.name
		%ul.changes
			- for tag in group.tags
				%li
					%input{type: 'checkbox', id: dom_id(tag), tag_id: tag.id}
					%label{for: dom_id(tag)}= tag.name
	%h4 Other Annotations and Comments
	%textarea#comment{rows: 5}
	%button.done{href: '#task-select'} Done
	%button.prev{href: '#task-visual'}

:javascript
	var gPrePosition = #{ @pre_position };
	var gPostPosition = #{ @post_position };
	var gPostId = 0;
	var gPreId = 0;
	var gPostLatitude, gPostLongitude;
	iCoast.showPost(gPostPosition);
