%section.fixed
	.post
		%h1 POST
		%img#post{src: nil}
	.pre
		%h1 PRE
		%img#pre{src: nil}
		- if false
			%ul.thumbs#pre-thumbs
				%li.thumb
					%img#pre-thumb0{src: nil}
				%li.thumb.active
					%img#pre-thumb1{src: nil}
				%li.thumb
					%img#pre-thumb2{src: nil}

%section.task#task-select
	%h3 Select Photo
	%p
		%label Step 1:
		Select a Post-Storm Photo to Annotate: Click the 
		%strong RANDOM PHOTO
		button or find a photo through the
		%strong MAP.
	%button#shuffle-post RANDOM PHOTO
	%button#show-map MAP
	%button.next{href: '#task-photo'} Next
%section.task#task-photo
	%h3 Photo Match
	%p
		%label Step 2:
		Does the Pre-Storm photo sufficiently match the Post-Storm photo?
	%p (Click the arrows next the Pre-Storm photo to find a better match.)
	%ul.match
		%li
			%input{type: 'radio', id: 'match_yes', name: 'match', value: true} 
			%label{for: 'match_yes'} Yes
			%input{type: 'radio', id: 'match_no', name: 'match', value: false, checked: 'checked'} 
			%label{for: 'match_no'} No
	%button.next{href: '#task-regime'} Next
%section.task#task-regime
	%h3 Coastal Change Regimes
	%p
		%label Step 3:
		What 
		%strong= link_to 'Coastal Change Regimes', 'http://coastal.er.usgs.gov/hurricanes/impact-scale/', target: '_blank'
		do you mainly see?
	%ul.regimes
		- for tag in @regimes
			%li
				%input{type: 'checkbox', id: dom_id(tag), tag_id: tag.id}
				%label{for: dom_id(tag)}= tag.name
	%button.next{href: '#task-visual'} Next
%section.task#task-visual
	%h3 Visual Coastal Changes
	%p
		%label Step 4:
		What coastal changes do you see?
	- for group in @groups
		- unless group.name.blank?
			%h4= group.name
		%ul.changes
			- for tag in group.tags
				%li
					%input{type: 'checkbox', id: dom_id(tag), tag_id: tag.id}
					%label{for: dom_id(tag)}= tag.name
	%textarea#comment{rows: 3}
	%button.done{href: '#task-select'} Done

#map{style: 'display:none'}
#legend{style: 'display:none'}
	Click any 
	%span RED 
	Post-Storm photo to Classify

:javascript
	var gPrePosition = #{ @pre_position };
	var gPostPosition = #{ @post_position };
	var gPostId = 0;
	var gPreId = 0;
	showPost(gPostPosition);
