!!!
%html
	%head
		%title USGS iCoast
		= stylesheet_link_tag "home", :media => "all"
		= javascript_include_tag "application"
		= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCAr75Uh-nZwi3N1c6lbD40AOpcAMJl2yU&sensor=true"
		= csrf_meta_tags
	%body
		= yield
